# Everything
/*

# but not these files/directories
!.gitignore
!.subtrees
!.scripts
!README.md

!.config
.config/*
!.config/astrality
!.config/awesome
!.config/compton
!.config/dunst
!.config/i3
!.config/kitty
!.config/networkmanager-dmenu
!.config/nvim
!.config/ranger
!.config/redshift
!.config/rofi
!.config/shell
!.config/picom
!.config/polybar
!.config/tmux
!.config/x
!.config/zathura

.config/shell/private_profile

dotconfigfiles/*
!dotconfigfiles/install.sh

.zcompdump*
.zcompcache

__pycache__

.config/git/gitconfig-work

# firefox
!.mozilla
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/Profiles
.mozilla/firefox/Profiles/*
!.mozilla/firefox/Profiles/3spasjl1.default
.mozilla/firefox/Profiles/3spasjl1.default/*
!.mozilla/firefox/Profiles/3spasjl1.default/chrome
.mozilla/firefox/Profiles/3spasjl1.default/chrome/*
!.mozilla/firefox/Profiles/3spasjl1.default/chrome/userChrome.css
