# Everything
/*

# but not these files/directories
!.gitignore
!.subtrees
!.scripts

!.config
.config/*
!.config/compton
!.config/dunst
!.config/git
!.config/i3
!.config/kitty
!.config/nvim
!.config/networkmanager-dmenu
!.config/ranger
!.config/redshift
!.config/rofi
!.config/shell
!.config/ssh/config
!.config/x
!.config/polybar
!.config/tmux
!.config/zathura

dotconfigfiles/*
!dotconfigfiles/install.sh

.zcompdump*

# firefox
!.mozilla
.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/Profiles
.mozilla/firefox/Profiles/*
!.mozilla/firefox/Profiles/3spasjl1.default
.mozilla/firefox/Profiles/3spasjl1.default/*
!.mozilla/firefox/Profiles/3spasjl1.default/chrome
.mozilla/firefox/Profiles/3spasjl1.default/chrome/*
!.mozilla/firefox/Profiles/3spasjl1.default/chrome/userChrome.css
