# Path to your dotfiles relative to your $HOME directory
dotfiles_dir = "Projects/dotfiles"

[settings]
# An array of toml files paths containing the variables to inject in your templatized dotfiles
# You can have multiple var files as long as variable names does not collide.
vars = []

# An array of post install shell commands
posthooks = ["tmux source-file ~/.config/tmux/theme.conf"]

[settings.dots]
# A dot entry representing a symlink, `source` is relative to `dotfiles_dir`
# and `target` shall be relative to $HOME directory or absolute.

# .config/
bat = { source = "config/bat", target = ".config/bat" }
clipcat = { source = "config/clipcat", target = ".config/clipcat" }
dunst = { source = "config/dunst", target = ".config/dunst" }
ghostty = { source = "config/ghostty", target = ".config/ghostty" }
kitty = { source = "config/kitty", target = ".config/kitty" }
markdown_oxide = { source = "config/moxide", target = ".config/moxide" }
neovim = { source = "config/nvim", target = ".config/nvim" }
ranger = { source = "config/ranger", target = ".config/ranger" }
redshift = { source = "config/redshift", target = ".config/redshift" }
rofi = { source = "config/rofi", target = ".config/rofi" }
shell = { source = "config/shell", target = ".config/shell" }
tmux_dir = { source = "config/tmux", target = ".config/tmux" }
wallpaper = { source = "config/wall.png", target = ".config/wall.png" }
waybar = { source = "config/waybar", target = ".config/waybar" }
yay = { source = "config/yay/config.json", target = ".config/yay/config.json" }
yazi = { source = "config/yazi", target = ".config/yazi" }
zathura = { source = "config/zathura", target = ".config/zathura" }

# globals
aliases = { source = "config/shell/aliases", target = ".aliases" }
profile = { source = "config/shell/profile", target = ".profile" }
tflint = { source = "config/tflint/tflint.hcl", target = ".config/tflint/tflint.hcl" }
tmux = { source = "config/tmux/tmux.conf", target = ".tmux.conf" }
zsh = { source = "config/shell/profile", target = ".zprofile" }

# scripts
scripts = { source = "scripts", target = ".scripts" }

[profiles.desktop]
extra_profiles = ["gruvbox_dark", "hyprland"]
vars = ["vars/desktop.toml"]

[profiles.desktop.dots]
firefox_css = { source = "config/firefox/userChrome.css", target = ".mozilla/firefox/skseyca9.default-release/chrome/userChrome.css" }

[profiles.laptop]
extra_profiles = ["gruvbox_dark", "i3"]
vars = ["vars/laptop.toml"]

[profiles.gruvbox_dark]
vars = ["vars/gruvbox.toml", "vars/gruvbox_dark.toml"]

[profiles.gruvbox_light]
vars = ["vars/gruvbox.toml", "vars/gruvbox_light.toml"]

[profiles.i3]
posthooks = ["i3-msg restart", "pgrep picom || picom -b"]

[profiles.i3.dots]
i3 = { source = "config/i3", target = ".config/i3" }
polybar = { source = "config/polybar", target = ".config/polybar" }
picom = { source = "config/picom", target = ".config/picom" }
x = { source = "config/x/xinitrc", target = ".xinitrc" }

[profiles.hyprland]
# posthooks = ["pkill waybar && nohup waybar &"]

[profiles.hyprland.dots]
chromium_flags = { source = "config/chromium-flags.conf", target = ".config/chromium-flags.conf" }
hyprland = { source = "config/hypr", target = ".config/hypr" }
